.jumbotron.bg-white
  .container
    / Example row of columns
    .row
      .col-md-5.ews-intro
        %p
          %b EWS 1294
          warns people in advance of natural hazards occurring in Cambodia. When an event such as flooding is detected or predicted, a
          voice recording is sent to the mobile phones of registered users in the areas at risk.
          %br/
          %a.ews-small-link{:href => ""} Read more
      .col-md-7.text-right
        %p
          =image_tag  "logo-strip.png", :class =>'ews-logo-strip'
/ /container
%footer.container.text-center.footer-credits
  %p
    Copyright © 2018 EWS 1294 -
    %a{:href => ""} Terms Of Service
    \- Developed by
    %a{:href => ""} People In Need
    \-
    = link_to_if(user_signed_in?, "Dashboard", dashboard_root_path, class: "p-2 text-dark") do
      = link_to("Login", new_user_session_path, class: "p-2 text-dark")

