.pricing-header.align-items-center.p-3.px-md-4
  
.jumbotron
  .container.ews-content
    / Example row of columns
    .row
      .col-md-3
      .col-md-6.text-center
        %h1 How It Works
        %hr/
        %p
          EWS 1294 warns people in advance of natural hazards occurring in Cambodia. When an event such as flooding is detected or predicted, a voice recording is
          sent to the mobile phones of registered users in the areas at risk.
      .col-md-3
.jumbotron.bg-white
  .container.ews-content
    .row.pad-b-30
      .col-md-6.text-right
        =image_tag "how-1.png"
      .col-md-6.ews-how-step-short.bg-red-light
        %h2
          %span.bg-circle-red 1
          User Sign Up
        %p
          Users dial
          %b FREE CALL 1294
          and follow the prompts to register province, district, and commune.
    .row
      .col-md-6.ews-how-step
        %h2
          %span.bg-circle-red 2
          Smart Sensors
        %p Like Tepmachcha, our solar powered, sonar-based water gauge, smart sensors are continuously recording meteorological information around the country.
        =image_tag "how-2.png", :width =>'470px', :height => '360px'
      .col-md-6.ews-how-step
        %h2
          %span.bg-circle-red 3
          Data Disseminated
        %p{:style => "max-width:80%;"}
          The smart sensors send the acquired data across the internet via the Cambodian cellular mobile
          phone network.
        =image_tag "how-3.png", :width =>'470px', :height => '380px'
      .col-md-6.ews-how-step
        %h2
          %span.bg-circle-red 4
          Warnings Sent
        %p The Provincial Centres for Disaster Management also monitor forecasts to detect natural disasters. If required, EWS 1294 sends warning messages via our Interactive Voice Response (IVR) Platform.
        =image_tag "how-4.png", :width =>'470px', :height => '370px'
      .col-md-6.ews-how-step
        %h2
          %span.bg-circle-red 5
          Action Taken
        %p Registered users receive calls via their mobile phones and take appropriate action to protect themselves, their families and their livelihoods.
        =image_tag "how-5.png", :width =>'470px', :height => '390px'


.container
