- content_for :javascripts do
  = javascript_include_tag "map.js"
#map
.container
  .row
    .col-sm-8
    .info.legend.leaflet-control.col-sm-4{:style => "background:#fff; padding:25px;margin-top:-350px;height: 200px;"}
      %h2{:style => "font-size:20px;"}
        EWS 1294 warns people in advance of natural hazards occurring in
        Cambodia.
      %p.mb-0
        %a.btn.btn-primary.btn-lg.ews-btn{:href => "#", :role => "button", :style => "margin:20px 0;"} Learn More

.jumbotron.bg-dark
  .container
    / Example row of columns
    .row.text-center.ews-stats
      .col-md-4.ews-stats-item
        %h2.stat-head.text-grey Registered Users
        %h2.stat-highlight.text-light
          = @contacts 
          %sup +
      .col-md-4.ews-stats-item
        %h2.stat-head.text-grey Sensors Covered
        %h2.stat-highlight.text-light 
          = @sensors
      .col-md-4.ews-stats-item
        %h2.stat-head.text-grey Alerts Sent
        %h2.stat-highlight.text-light
          = @call_participation
          %sup +
          


.container
